<!DOCTYPE html>
<html style="font-size: 16px" lang="en-IN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="IEEE, IIESTS, IIEST,Shibpur,IIEST Shibpur, shibpur, ieee shibpur, ieee iiest shibpur, shibpur student branch, iiest, Student, Branch,  memberships, scholarships, workshops, grants,  innovation, excellence, technology, our team, members, about, dream, inspire, manifest, opportunities, association, electrical, electronics, engineers, leadership, IEEE IIESTS, IEEE IIEST, IEEE IIESTS Student, IEEE IIEST Student, IEEE IIESTS Student Branch, IEEE IIEST Student Branch, sponsorship, event, events, ieee, iiests, iiest, student, branch, ieee iiests, ieee iiest, join, join us, join us ieee iiests, join us ieee iiest, join ieee iiests, join us ieee iiests, ieee join iiests, ieee join iiest"
    />
    <meta
      name="description"
      content="If you are interested in our activities and what we do, you are welcome to be part of it. In order to become a member, you must first become a student member of IEEE at a nominal annual fee. Once a student of this institute becomes a student member, they are automatically inducted into the IEEE Student Branch. It's that simple!"
    />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Join Us! | IEEE IIESTS Student Branch</title>
    <link rel="stylesheet" href="/stylesheets/nicepage.css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/Join-Us.css" media="screen" />
    <script
      class="u-script"
      type="text/javascript"
      src="/javascript/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/javascript/nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 4.3.3, nicepage.com" />
    <meta property="og:title" content="Join Us! | IEEE IIESTS Student Branch" />
    <meta
      property="og:description"
      content="If you are interested in our activities and what we do, you are welcome to be part of it. In order to become a member, you must first become a student member of IEEE at a nominal annual fee. Once a student of this institute becomes a student member, they are automatically inducted into the IEEE Student Branch. It's that simple!"
    />
    <meta
      property="og:image"
      content="https://www.ieeeiiests.in/images/WhatsAppImage2022-01-08at11.24.09.webp"
    />
    <meta property="og:url" content="https://www.ieeeiiests.in/join" />
    <link rel="icon" href="images/favicon.webp" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "IEEE IIESTS Student Branch",
        "url": "https://www.ieeeiiests.in/",
        "logo": "images/IEEE-removebg-preview1.png",
        "sameAs": [
          "https://www.facebook.com/ieee.iiests",
          "https://www.instagram.com/iiestsieeesb/",
          "https://www.linkedin.com/company/ieee-iiests",
          "https://www.youtube.com/channel/UCJij0dF8W8SC9-dktm0oWvw/featured"
        ]
      }
    </script>
    <meta name="theme-color" content="#1843b6" />
    <meta property="og:type" content="website" />
  </head>

  <body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
    <%- include('../HeaderFooter/Header')%>
    <section class="u-black u-clearfix u-section-1" id="sec-d2bc">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-palette-3-base u-section-2" id="carousel_2ba2">
      <div
        class="u-container-style u-expanded-width u-group u-shape-rectangle u-white u-group-1"
      >
        <div class="u-container-layout u-container-layout-1">
          <h2 class="u-text u-text-default u-text-1">
            Why should you join us?
          </h2>
          <p
            class="u-custom-font u-font-montserrat u-text u-text-grey-40 u-text-2"
          >
            Well, if we want you to spend some bucks to join IEEE as a student
            member to become a IEEE IIESTS Student Branch member, you need some
            good reasons, dont ya?
          </p>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div
            class="u-container-style u-grey-5 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-1"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-2"
            >
              <h3 class="u-text u-text-default u-text-3">01</h3>
              <p class="u-custom-font u-font-montserrat u-text u-text-4">
                <b
                  >-Hello! How do I join the IEEE Student Branch?<br />
                  <span style="font-weight: 400"
                    >Being a part of the IEEE Student Branch is easy. If you are
                    an IEEE
                    <span style="font-weight: 400"
                      >student member, you become a part of the IEEE Student
                      Branch by default. For better info on how to join, read
                      on.&nbsp;</span
                    >
                  </span></b
                >
                <span style="font-weight: 400">
                  <br />
                  <span style="font-weight: 700"
                    >Hold up! I get how to join, but why should I join in the
                    first place?<br /><b>
                      <span style="font-weight: 400"
                        >Elementary, dear Watson. Because of the perks.</span
                      ></b
                    >
                  </span>
                </span>
                <br />
              </p>
            </div>
          </div>
          <div
            class="u-container-style u-grey-5 u-list-item u-radius-20 u-repeater-item u-shape-round"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-3"
            >
              <h3 class="u-text u-text-default u-text-5">02</h3>
              <p class="u-custom-font u-font-montserrat u-text u-text-6">
                <b>What perks?</b> <br /><b>
                  <span style="font-weight: 400"
                    >Well where should we begin? Firstly, you get access to
                    periodicals and research articles published by the IEEE. The
                    exposure helps. Secondly, you get to attend official IEEE
                    conferences and learn what the rest of the world is working
                    on. You also get a brand new email id on signing up with
                    30GB of cloud storage absolutely free. Is that good
                    enough?</span
                  ></b
                >
                <br />
              </p>
            </div>
          </div>
          <div
            class="u-container-style u-grey-5 u-list-item u-radius-20 u-repeater-item u-shape-round"
          >
            <div
              class="u-container-layout u-similar-container u-valign-top u-container-layout-4"
            >
              <h3 class="u-text u-text-default u-text-7">03</h3>
              <p class="u-custom-font u-font-montserrat u-text u-text-8">
                <b>Sounds nice! What about the Student Branch?</b> <br /><b
                  >&nbsp;<span style="font-weight: 400"
                    >You get to mention your association with us in your CV.
                    Depending on how much you work for the student branch, you
                    might get elected for an EXCOM position. That's one huge
                    boost to your organisational skills.&nbsp;</span
                  ></b
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-3" id="carousel_513c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-30 u-layout-cell-1"
                  >
                    <div
                      class="u-container-layout u-valign-top u-container-layout-1"
                    >
                      <p
                        class="u-custom-font u-font-montserrat u-text u-text-1"
                      >
                        <span style="font-size: 1.125rem"
                          >1. Go to&nbsp;<a
                            href="https://www.ieee.org"
                            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                            target="_blank"
                            >www.ieee.org</a
                          >
                          <br />2. Click on "Join IEEE" present on the right
                          hand side of the screen<br />3. Scroll down and click
                          on
                          <span style="font-weight: 700"
                            >"Join as a student"</span
                          >
                          <br />4. Login if you have an account / sign up and
                          login.<br />5. Edit your contact details.<br />6. In
                          the next section make sure to select<span
                            style="font-weight: 700"
                          >
                            I am a student studying at least part time</span
                          >
                          <br />7. Add your current college. (Just type Shibpur
                          and our college name should appear). Fill in the rest
                          of the details of this section. <br />
                          <span style="font-style: italic"
                            >#For points 6,7 refer the adjacent picture</span
                          >
                          <br />8. Then fill in the additional details of the
                          next sections according to the ones that apply there
                          for you and save.
                        </span>
                      </p>
                    </div>
                  </div>
                  <div
                    class="u-container-style u-layout-cell u-size-30 u-layout-cell-2"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-2"
                    >
                      <img
                        class="u-image u-image-default u-image-1"
                        src="images/WhatsAppImage2022-01-05at12.40.48.webp"
                        alt=""
                        data-image-width="913"
                        data-image-height="751"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-size-30 u-layout-cell-3"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-3"
                    >
                      <p
                        class="u-custom-font u-font-montserrat u-text u-text-2"
                      >
                        <span style="font-size: 1.125rem"
                          >9. Use the referral code (if any)<br />10. Before
                          proceeding to checkout, make sure that in the cart
                          <span style="font-weight: 700"
                            >IEEE Membership (student) worth $27.00 is
                            present</span
                          >
                          <br />11. Click on proceed to checkout. Check the
                          finals details and then make the payment.<br />12. For
                          payment, you can use an international payment enabled
                          credit card/PayPal. But
                          <span style="font-weight: 700"
                            >the recommended mode is to "Pay in INR by
                            Challan"</span
                          >. Click on that and agree to the terms.<br />13.
                          Click on save and print Challan. Refer the pdf below
                          to see how it looks. You can then transfer the money
                          via NEFT to the account details given over there.
                          (Right hand side under "other banks" section)&nbsp;
                        </span>
                      </p>
                    </div>
                  </div>
                  <div
                    class="u-container-style u-layout-cell u-size-30 u-layout-cell-4"
                  >
                    <div class="u-container-layout u-container-layout-4">
                      <h5 class="u-text u-text-default u-text-3">
                        Sample Challan:
                      </h5>
                      <a
                        href="files/ReferenceChallan.pdf"
                        class="u-border-none u-btn u-btn-round u-button-style u-file-link u-hover-palette-3-light-1 u-palette-3-light-2 u-radius-1 u-btn-2"
                        target="_blank"
                        ><span class="u-icon u-icon-1"
                          ><svg
                            class="u-svg-content"
                            viewBox="0 0 512 512"
                            x="0px"
                            y="0px"
                            style="width: 1em; height: 1em"
                          >
                            <path
                              d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64    c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472    c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"
                            ></path>
                            <path
                              d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"
                            ></path></svg
                          ><img /></span
                        >&nbsp;Download
                      </a>
                      <h4 class="u-text u-text-default u-text-4">
                        For additional queries:
                      </h4>
                      <a
                        href="mailto:iiests.ieee.sb@gmail.com?subject=Joining%20Query"
                        class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-3"
                        >reach out!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('../HeaderFooter/Footer')%>
  </body>
</html>
