<header
  class="u-align-right u-clearfix u-header u-white u-header"
  id="sec-3d9a"
>
  <style class="u-sticky-style" data-style-id="81d1">
    .u-sticky-fixed.u-sticky-81d1,
    .u-body.u-sticky-fixed .u-sticky-81d1 {
      box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
    }</style
  ><a
    href="/"
    data-page-id="1075687"
    class="u-align-left u-image u-logo u-image-1"
    data-image-width="239"
    data-image-height="128"
    title="Home"
  >
    <img
      src="images/IEEE-removebg-preview1.png"
      class="u-logo-image u-logo-image-1"
    />
  </a>
  <nav
    class="u-align-left u-menu u-menu-dropdown u-menu-open-right u-offcanvas u-menu-1"
    data-responsive-from="MD"
  >
    <div
      class="menu-collapse u-custom-font u-font-raleway"
      style="font-size: 1.125rem"
    >
      <a
        class="u-button-style u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-nav-link u-text-body-alt-color"
        href="#"
      >
        <svg
          class="u-svg-link"
          preserveAspectRatio="xMidYMin slice"
          viewBox="0 0 302 302"
        >
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#svg-dc57"
          ></use>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="svg-dc57"
          x="0px"
          y="0px"
          viewBox="0 0 302 302"
          style="enable-background: new 0 0 302 302"
          xml:space="preserve"
          class="u-svg-content"
        >
          <g>
            <rect y="36" width="302" height="30"></rect>
            <rect y="236" width="302" height="30"></rect>
            <rect y="136" width="302" height="30"></rect>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-custom-font u-font-raleway u-nav u-unstyled u-nav-1">
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="/"
            style="padding: 10px 12px"
            >Home</a
          >
        </li>
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="/#carousel_007c"
            data-page-id="1075687"
            style="padding: 10px 12px"
            >About Us</a
          >
        </li>
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="/team"
            style="padding: 10px 12px"
            >Our Team</a
          >
        </li>
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="/events"
            style="padding: 10px 12px"
            >Events</a
          >
        </li>
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="/join"
            style="padding: 10px 12px"
            >Join Us</a
          >
        </li>
        <li class="u-nav-item">
          <a
            class="u-button-style u-nav-link u-text-active-grey-10 u-text-body-alt-color u-text-hover-palette-1-light-3"
            href="https://www.ieee.org/"
            target="_blank"
            style="padding: 10px 12px"
            >IEEE.org</a
          >
        </li>
      </ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div
        class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-90 u-sidenav"
      >
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul
            class="u-align-left u-custom-font u-font-raleway u-nav u-popupmenu-items u-spacing-13 u-unstyled u-nav-2"
          >
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="/"
                style="padding: 10px 12px"
                >Home</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="/#carousel_007c"
                data-page-id="1075687"
                style="padding: 10px 12px"
                >About Us</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="/team"
                style="padding: 10px 12px"
                >Our Team</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="/events"
                style="padding: 10px 12px"
                >Events</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="/join"
                style="padding: 10px 12px"
                >Join Us</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="https://www.ieee.org/"
                target="_blank"
                style="padding: 10px 12px"
                >IEEE.org</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-60"></div>
    </div>
  </nav>
</header>
